* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(247, 247, 247);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: aqua;
}

:root {
  --small-spacing: 2rem;
}

body {
  margin: auto;
  text-align: center;
}

#background-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* position: relative;
  margin: auto;
  left: 50%;
  width: 2000px; */
}

#progress0 {
  margin: auto;
  width: 30%;
}

#progress-grey {
  margin: auto;
  width: 30%;
}

#progress {
  margin: auto;
  width: 30%;
}

#gif-container {
  background-image: none;
  position: relative;
  margin: auto;
  left:auto;
  bottom: 45vh;
  max-width: 10rem;
}

#froggo {
  height: 200px;
}

#timer-container > h2 {
  display: inline-block;
}

#btns-container {
  display: flex;
  justify-content: center;
}

#container {
  margin: 20px;
  width: 200px;
  height: 100px;
}