* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(247, 247, 247);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: aqua;
}

:root {
  --small-spacing: 2rem;
}

body {
  margin: auto;
  text-align: center;
}

#whole-page {
  display: grid;
  height: 100%;
  grid-template: 1fr / 1fr;
  gap: 1rem;
}

#text-area {
  max-height: 10vh;
  z-index: 11111 !important;
  background-color: black;
}

/* #no-text-area {
  max-height: 80vh;
} */

svg {
  height: 70vh;
  margin: auto;
  max-height: 2000px;
  position: absolute;
  top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width: 100%;
}

#gif-container {
  background-image: none;
  position: absolute;
  top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    max-height: 40vh;
    max-width: 40vh;
}

#froggo {
  margin: auto;
  width: 100%;
  height: 100%;
}

#timer-container > h2 {
  display: inline-block;
}

#btns-container {
  display: flex;
  justify-content: center;
}

#container {
  margin: 20px;
  width: 200px;
  height: 100px;
}

#timer-selection {
  position: relative;
}

#label-container {
  position: absolute;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 800px) {
  * {
    background-color: bisque;
  }

  svg {
    /* height: 80vh; */
    margin: auto;
    max-height: 100%;
    /* position: absolute;
    top:0;
      left:0;
      right:0;
      bottom:0;
      margin:auto; */
      width: 100%;
    padding: 1rem 1rem;
  }
  
  #gif-container {
    background-image: none;
    position: absolute;
    top:0;
      left:0;
      right:0;
      bottom:0;
      margin:auto;
      max-height: 170px;
      max-width: 170px;
  }
}